<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,
    600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        
          
    </header>
    

    <section>
        <h2>Dashboard</h2>

        <div class="cards">
           
                <div class="card mb-3 card-1">
                    <div class="card-header">#1</div>
                    <div class="card-body">
                    <img src="../img/icon_user.png" alt="">
                      <h5 class="card-title">Usuários</h5>
                      <p class="card-number">397</p>
                    </div>
                </div>

           
            
                <div class="card mb-3 card-2" >
                    <div class="card-header">#2</div>
                    <div class="card-body">
                    <img src="../img/icon_entrega.png" alt="">
                      <h5 class="card-title">Entregas</h5>
                      <p class="card-number">397</p>
                    </div>
                  </div>

                  <div class="card mb-3 card-3" >
                    <div class="card-header">#3</div>
                    <div class="card-body">
                        <img src="../img/icon_check.png" alt="">
                      <h5 class="card-title">Concluidos</h5>
                      <p class="card-number">397</p>
                    </div>
                  </div>

                  <div class="card mb-3 card-4" >
                    <div class="card-header">#3</div>
                    <div class="card-body">
                        <img src="../img/icon_alerta.png" alt="">
                      <h5 class="card-title">Alertas</h5>
                      <p class="card-number">397</p>
                    </div>
                  </div>


        </div>
       
    </section>
    
</body>
</html>